@model IEnumerable<MippVendorPortal.Models.Setting>
@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    ViewBag.Subtotal = "";
    ViewBag.Tax = "";
    ViewBag.Total = "";
    var fileUrl = ViewBag.fileUrl;
    int tax = 0;
    int workorderId = ViewBag.woid;
    var disabled = true;
}



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="callout callout-info">
                <h5><i class="fas fa-info"></i> Note:</h5>
                This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div>

            <div class="invoice p-3 mb-3" id="invoice">
                @foreach (var item in Model)
                {

                    <div class="row invoice-info" id="invoice-table">
                        <form style="width: 65%; margin-left: auto;">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Title:</label>
                                    <input type="text" class="form-control" id="billTitle">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Summary(optional):</label>
                                    <input type="text" class="form-control" id="summary">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="@item.BusinessName">Bill To:</label>
                                    <input type="text" class="form-control" value="@item.BusinessName" id="billTo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="@item.CareOf">Care Of:</label>
                                    <input type="text" class="form-control" value="@item.CareOf" id="careOf">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="@item.AddressLine1">Address</label>
                                <input type="text" class="form-control" value="@item.AddressLine1" id="inputAddress">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" value="@item.AddressLine2" id="inputAddress2">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" value="@item.City" id="city">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">Province</label>
                                    <input type="text" class="form-control" value="@item.Province" id="province">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" value="@item.Zip" id="zip">
                                </div>
                            </div>
                        </form>

                        <div class="col-sm-4 invoice-col">
                            <form>

                                <div class="form-group">
                                    <label>Invoice:</label>
                                    <input type="text" class="form-control"value="@item.Id" id="invoice" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Workorder ID:</label>
                                    <input type="text" class="form-control" value="@workorderId" id="woId" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="@item.BillDate">Bill Date:</label>
                                    <input type="date" class="form-control" value="@item.BillDate" id="billDate">
                                </div>
                                <div class="form-group">
                                    <label for="@item.DueDate">Due Date:</label>
                                    <input type="date" class="form-control" value="@item.DueDate" id="dueDate">
                                </div>

                            </form>
                        </div>

                    </div>

                }

                <div id="billItems">
                    <div style="border:solid 2px gray; padding: 1%;" id="billItem">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Item</label>
                                <input type="text" class="form-control" id="item">
                            </div>

                            <div class="form-group col-md-2">
                                <label>Unit</label>
                                <input type="text" class="form-control" id="unit">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Quantity</label>
                                <input type="number" class="form-control" id="quantity">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Price</label>
                                <input type="number" id="price" step="0.01" class="form-control" onchange="UpdateAmount(event)">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Amount</label>
                                <input type="number" step="0.01" class="form-control" id="amount">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label>Description</label>
                                <textarea class="form-control" id="description"></textarea>
                            </div>
                            <div class="form-group col-md-2">
                                <label></label>
                                <select class="form-control" onchange="CalculateTax(event)" id="taxOptions">
                                    <option>Select Tax rate</option>
                                    @foreach (var item in ViewBag.taxList)
                                    {
                                        <option>@item.TaxRate</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label></label>
                                <input type="number" step="0.01" class="form-control" id="taxedAmount">
                            </div>
                        </div>
@*                        <button id="remove-btn" onclick="DeleteLine()" class="btn btn-primary">Delete</button>
*@

                    </div>
                </div>
                <br />
                <br />
                <button id="add-row-btn" onclick="AddLine()" class="btn btn-primary">Add Item</button>

                <div class="form-group">
                    <label>Notes:</label>
                    <textarea class="form-control" id="note"></textarea>
                </div>
                <div class="form-group">
                    <label>Footer:</label>
                    <textarea class="form-control" id="footer"></textarea>
                </div>
                <div id="inputContainer" class="row">
@*                    <input type="text" value="@ViewBag.fileUrl" id="viewBagValue" style="display:none" class="form-control" />
*@@*                    <div class="col-6">
                        <p class="lead">Payment Methods:</p>
                        <img src="../../dist/img/credit/visa.png" alt="Visa">
                        <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                        <img src="../../dist/img/credit/american-express.png" alt="American Express">
                        <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                            All cards are accepted.
                        </p>
                    </div>
*@
                    <div class="col-6">
                        <p class="lead">Amount Due </p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td id="subtotals">0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td id="taxes">0.00</td>
                                    </tr>

                                    <tr>
                                        <th>Total:</th>
                                        <td id="totals">0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <br/>
                <label>Uploaded documents</label>
                <div class="row d-flex col-sm-12" id="uploadedDocuments">
                    @foreach (var item in ViewBag.ImageUrls)
                    {
                        <img src="@item" style="float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;" onclick="getImageData(this)" />

                    }
                    <button type="button" class="btn btn-danger" style="margin-left: 1%;height: fit-content;
    align-self: center;" id="removeFile" disabled>
                        Clear
                    </button>
                </div>



                <br/>
                    <label id="document">Upload Document</label>

         @*       @using (Html.BeginForm("UploadFile", "Bills", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {*@
                <form id="myForm" method="post" enctype="multipart/form-data">
                    <div style="display: flex;">
                        <input type="file" name="file" id="file" class="form-control " style="margin-right: 1%; width: 30%;" multiple />
                        <select name="fileType" style="display:none">
                            <option value="@workorderId" selected>@workorderId</option>
                        </select>
                        <input type="text" class="form-control" value="@workorderId" id="fileType" name="fileType" disabled style="display:none">
@*                        <button type="submit" class="btn btn-secondary">Upload</button>
*@                       @* <button type="button" class="btn btn-danger" style="margin-left: 1%;" id="removeFile">
                            Clear
                        </button>*@

                    </div>
               
                        <br />
                        <br />

                    <button type="submit" class="btn btn-primary">Save</button>

                </form>



                <div class="row no-print">
                    <div class="col-12">
                       
                    </div>
                </div>


                @section Scripts {


                 
                    <script src="~/dist/js/notify.js"></script>
                    <script src="~/dist/js/notify.min.js"></script>
                    <script>

                        function getImageData(image){
                            console.log(image);
                            image.style.border = "2px solid black";
                            image.style.opacity = "0.5";
                            image.style.cursor = "pointer";

                            var inputElement = $('<input>', {
                                type: 'text',
                                name: 'viewBagValue',
                                id: 'viewBagValue',
                                style: 'display:none',
                                value: image.src // Set the value from the AJAX response
                            });
                            $('#inputContainer').append(inputElement);

                            document.getElementById("removeFile").disabled = false;
                        }
                         function showNotification(type, message) {
                            $.notify(message, type);
                        }

   
                            $('#myForm').submit(function (e) {
                                e.preventDefault(); // Prevent the default form submission
                                var workorderID = document.getElementById('fileType').value;
                                var formData = new FormData(this);
                                console.log("formData", formData);

                            var fileInput = document.getElementById('file');
                                //Iterating through each files selected in fileInput
                                //for (i = 0; i < fileInput.files.length; i++) {
                                //    //Appending each file to FormData object
                                //    formData.append(fileInput.files[i].name, fileInput.files[i]);
                                //}
                                formData.append(workorderID, workorderID);
                                console.log("formData", formData);

                                debugger;
                                $.ajax({
                                    url: '/Bills/Upload',
                                    type: 'POST',
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        // Handle success
                                        //myValue = response.updatedValue;
                                        console.log(response);
                                        //alert(response.message);
                                        showNotification('success', "File(s) uploaded successfully!!");

                                        $.each(response, function (index, item) {
                                        var inputElement = $('<input>', {
                                            type: 'text',
                                            name: 'viewBagValue',
                                            id: 'viewBagValue',
                                            style: 'display:none',
                                            value: item // Set the value from the AJAX response
                                        });
                                        $('#inputContainer').append(inputElement);
                                        //document.getElementById("viewBagValue").innerText = response.updatedValue;
                                        //document.getElementById("viewBagValue").value = response.updatedValue;


                                        var testArr = [];

                                        for (let i = 0; i < document.querySelectorAll("#unit").length; i++) {
                                            testArr.push({
                                                item: document.querySelectorAll("#item")[i].value,
                                                description: document.querySelectorAll("#description")[i].value,
                                                quantity: document.querySelectorAll("#quantity")[i].value,
                                                unit: document.querySelectorAll("#unit")[i].value,
                                                price: document.querySelectorAll("#price")[i].value,
                                                tax: document.querySelectorAll("#taxOptions")[i].value,
                                                subtotal: document.querySelectorAll("#amount")[i].value,
                                                total: document.querySelectorAll("#taxedAmount")[i].value
                                            });
                                        }
                                        console.log("save button clicked");
                                        console.log("test", testArr);
                                        console.log(@workorderId);
                                        console.log(testArr);

                                        var testArrSettings = [];
                                        testArrSettings.push({
                                            Title: document.getElementById("billTitle").value,
                                            Summary: document.getElementById("summary").value,
                                            Id: document.getElementById("invoice").value,
                                            BusinessName: document.getElementById("billTo").value,
                                            CareOf: document.getElementById("careOf").value,
                                            //document.getElementById("woId").value,
                                            AddressLine1: document.getElementById("inputAddress").value,
                                            AddressLine2: document.getElementById("inputAddress2").value,
                                            City: document.getElementById("city").value,
                                            Province: document.getElementById("province").value,
                                            Zip: document.getElementById("zip").value,
                                            BillDate: document.getElementById("billDate").value,
                                            DueDate: document.getElementById("dueDate").value,
                                            Subtotal: document.getElementById("subtotals").innerHTML,
                                            Tax: document.getElementById("taxes").innerHTML,
                                            Total: document.getElementById("totals").innerHTML,
                                            Note: document.getElementById("note").value,
                                            Footer: document.getElementById("footer").value
                                        });

                                        var title = document.getElementById("billTitle");
                                        var summary = document.getElementById("summary");
                                        console.log("Setting", testArrSettings);

                                        //$.post('@Url.Action("Insert","Bills")', { woId: @workorderId, testArr: testArr, testArrSettings: testArrSettings },
                                        //    function () {

                                        $.ajax({
                                            url: '/Bills/Insert',
                                            type: 'POST',
                                            data: {
                                                woId: @workorderId,
                                                testArr: testArr,
                                                testArrSettings: testArrSettings
                                            },
                                            success: function (response) {

                                                //$.ajax({
                                                //    url: '/Bills/Upload',
                                                //    type: 'POST',
                                                //    data: formData,
                                                //    processData: false,
                                                //    contentType: false,
                                                //    success: function (response) {
                                                //        // Handle success
                                                //        //myValue = response.updatedValue;
                                                //        console.log(response);
                                                //        //alert(response.message);
                                                //        showNotification('success', "File(s) uploaded successfully!!");

                                                //        $.each(response, function (index, item) {
                                                //            var inputElement = $('<input>', {
                                                //                type: 'text',
                                                //                name: 'viewBagValue',
                                                //                id: 'viewBagValue',
                                                //                style: 'display:none',
                                                //                value: item // Set the value from the AJAX response
                                                //            });
                                                //            $('#inputContainer').append(inputElement);
                                                //            //document.getElementById("viewBagValue").innerText = response.updatedValue;
                                                //            //document.getElementById("viewBagValue").value = response.updatedValue;

                                                //        });





                                                //        // Update the ViewBag value dynamically
                                                //    },
                                                //    error: function () {
                                                //        // Handle error
                                                //        alert('Error uploading file.');
                                                //    }
                                                //});
                                                //$('#result').html('"PassThings()" successfully called.');
                                            },
                                            error: function () {
                                                // Handle error
                                                alert('Error saving data.');
                                            }
                                        })

                                    });
                                       
                                    
                                        

                                        
                                        // Update the ViewBag value dynamically
                                    },
                                    error: function () {
                                        // Handle error
                                        alert('Error uploading file.');
                                    }
                                });
                            });

                        $("#removeFile").click(function () {
                            debugger;
                            var files = [];
                            for(i=0; i<document.querySelectorAll('#viewBagValue').length; i++){
                                files.push(document.querySelectorAll('#viewBagValue')[i].value);
                            }
                                $.post('@Url.Action("Remove", "Bills")', { urls: files },
                                    function () {
                                        document.getElementById("fileInput").value = null;
                                        showNotification('success', "File(s) deleted!");
                                    });
                            
                        });
                     
                       

                        function AddLine(){
                            var newRow = `
                                                                               
                                                                                      <div style="border:solid 2px gray; padding: 1%;" id="billItem">
                                                                                            <div class="form-row">
                                                                                            <div class="form-group col-md-3">
                                                                                                <label>Item</label>
                                                                                                <input type="text" class="form-control" id="item">
                                                                                            </div>
                        
                                                                                            <div class="form-group col-md-2">
                                                                                                <label>Unit</label>
                                                                                                <input type="text" class="form-control"id="unit">
                                                                                            </div>
                                                                                            <div class="form-group col-md-2">
                                                                                                <label>Quantity</label>
                                                                                                <input type="number" class="form-control" id="quantity">
                                                                                            </div>
                                                                                                <div class="form-group col-md-3">
                                                                                                <label>Price</label>
                                                                                                    <input type="number" id="price" step="0.01" class="form-control" onchange="UpdateAmount(event)">
                                                                                            </div>
                                                                                                <div class="form-group col-md-2">
                                                                                                <label>Amount</label>
                                                                                                    <input type="number" step="0.01" class="form-control" id="amount">
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="form-row">
                                                                                                <div class="form-group col-md-8">
                                                                                                    <label>Description</label>
                                                                                                    <textarea class="form-control" id="description"></textarea>
                                                                                            </div>
                                                                                                                          <div class="form-group col-md-2">
                                                        <label></label>
                                                        <select class="form-control" onchange="CalculateTax(event)" id="taxOptions">
                                                            <option>Select Tax rate</option>
                        @foreach (var item in ViewBag.taxList)
                        {
                                                                    <option>@item.TaxRate</option>
                        }
                                                        </select>
                                                    </div>
                                                                                                <div class="form-group col-md-2">
                                                                                                    <label></label>
                                                                                                    <input type="number" step="0.01" class="form-control" id="taxedAmount">
                                                                                                </div>
                                                                                            </div>
                                                                                            <button id="remove-btn" onclick="DeleteLine()" class="btn btn-primary">Delete</button>

 
                                                                                        </div>`;
                            $("#billItems").append(newRow);
                        }

                        function DeleteLine(){
                            var quanLen = document.querySelectorAll("#quantity").length;
                            //var taxString = document.querySelectorAll("#taxOptions")[quanLen - 1].value;

                            document.getElementById("billItems").removeChild(document.getElementById("billItems").children[quanLen - 1]);



                        }

                        $("#save-btn").click(function () {
                            var testArr = [];

                            for(let i=0; i<document.querySelectorAll("#unit").length; i++){
                                testArr.push({
                                    item: document.querySelectorAll("#item")[i].value,
                                    description : document.querySelectorAll("#description")[i].value,
                                    quantity : document.querySelectorAll("#quantity")[i].value,
                                    unit : document.querySelectorAll("#unit")[i].value,
                                    price : document.querySelectorAll("#price")[i].value,
                                    tax : document.querySelectorAll("#taxOptions")[i].value,
                                    subtotal : document.querySelectorAll("#amount")[i].value,
                                    total : document.querySelectorAll("#taxedAmount")[i].value
                            });
                                                            }
                            console.log("save button clicked");
                            console.log("test", testArr);
                            console.log(@workorderId);
                            console.log(testArr);

                            var testArrSettings = [];
                            testArrSettings.push({
                                Title: document.getElementById("billTitle").value,
                                Summary: document.getElementById("summary").value,
                                Id: document.getElementById("invoice").value,
                                BusinessName: document.getElementById("billTo").value,
                                CareOf: document.getElementById("careOf").value,
                                //document.getElementById("woId").value,
                                AddressLine1: document.getElementById("inputAddress").value,
                                AddressLine2: document.getElementById("inputAddress2").value,
                                City: document.getElementById("city").value,
                                Province: document.getElementById("province").value,
                                Zip: document.getElementById("zip").value,
                                BillDate: document.getElementById("billDate").value,
                                DueDate: document.getElementById("dueDate").value,
                                Subtotal: document.getElementById("subtotals").innerHTML,
                                Tax:document.getElementById("taxes").innerHTML,
                                Total: document.getElementById("totals").innerHTML,
                                Note: document.getElementById("note").value,
                                Footer: document.getElementById("footer").value
                            });

                            var title = document.getElementById("billTitle");
                            var summary = document.getElementById("summary");
                            console.log("Setting", testArrSettings);

                            //$.post('@Url.Action("Insert","Bills")', { woId: @workorderId, testArr: testArr, testArrSettings: testArrSettings },
                            //    function () {

                            $.ajax({
                                url:'/Bills/Insert',
                                type: 'POST',
                                data:{
                                            woId: @workorderId,
                                            testArr: testArr,
                                            testArrSettings: testArrSettings
                                },
                                success: function (response) {

                                            //$.ajax({
                                            //    url: '/Bills/Upload',
                                            //    type: 'POST',
                                            //    data: formData,
                                            //    processData: false,
                                            //    contentType: false,
                                            //    success: function (response) {
                                            //        // Handle success
                                            //        //myValue = response.updatedValue;
                                            //        console.log(response);
                                            //        //alert(response.message);
                                            //        showNotification('success', "File(s) uploaded successfully!!");

                                            //        $.each(response, function (index, item) {
                                            //            var inputElement = $('<input>', {
                                            //                type: 'text',
                                            //                name: 'viewBagValue',
                                            //                id: 'viewBagValue',
                                            //                style: 'display:none',
                                            //                value: item // Set the value from the AJAX response
                                            //            });
                                            //            $('#inputContainer').append(inputElement);
                                            //            //document.getElementById("viewBagValue").innerText = response.updatedValue;
                                            //            //document.getElementById("viewBagValue").value = response.updatedValue;

                                            //        });





                                            //        // Update the ViewBag value dynamically
                                            //    },
                                            //    error: function () {
                                            //        // Handle error
                                            //        alert('Error uploading file.');
                                            //    }
                                            //});
                                            //$('#result').html('"PassThings()" successfully called.');
                                },
                                error: function () {
                                    // Handle error
                                    alert('Error saving data.');
                                }
                            })
                                    
                                //});
                        });


                    </script>
                    <script>
                   

                      



                        function UpdateAmount(event) {
                            console.log("338", event.target.value);
                            var quanLen= document.querySelectorAll("#quantity").length
                            var quantity = document.querySelectorAll('#quantity')[quanLen-1].value;
                            var priceLen = document.querySelectorAll("#price").length
                            var price = document.querySelectorAll('#price')[priceLen - 1].value;
                            var amountLen = document.querySelectorAll("#amount").length;
                            var amount = parseFloat(quantity * price).toFixed(2);
                            document.querySelectorAll("#amount")[amountLen-1].value = amount;
                            var subtotal= 0.00;
                            for (let i = 0; i < document.querySelectorAll("#amount").length; i++)
                              subtotal+= parseFloat(document.querySelectorAll("#amount")[i].value);
                            document.getElementById("subtotals").innerText= parseFloat(subtotal).toFixed(2);

                        }



                        function CalculateTax(event) {
                            debugger;
                            
                            var taxString = event.target.value;
                            var tax = parseFloat(taxString.split("-")[1].split("%")[0]) / 100;
                            var amountLen = document.querySelectorAll("#amount").length;
                            var taxLen = document.querySelectorAll("#taxedAmount").length;
                            document.querySelectorAll("#taxedAmount")[taxLen - 1].value = 
                            parseFloat(parseFloat(tax * parseFloat(document.querySelectorAll('#amount')[amountLen - 1].value)) + parseFloat(document.querySelectorAll('#amount')[amountLen - 1].value)).toFixed(2);

                            document.getElementById('taxes').innerHTML = 
                           
                            parseFloat(parseFloat(document.getElementById("taxes").innerHTML) + tax * parseFloat(document.querySelectorAll('#amount')[amountLen - 1].value)).toFixed(2)
                            
                            
                            //document.getElementById('subtotals').innerHTML = parseFloat(document.querySelectorAll("#subtotals").value) + parseFloat(document.querySelectorAll("#price").value) * parseFloat(document.querySelectorAll("#quantity").value);
                            document.getElementById('totals').innerHTML = 
                                parseFloat(parseFloat(document.getElementById("totals").innerHTML) + parseFloat(document.querySelectorAll("#taxedAmount")[taxLen - 1].value)).toFixed(2);

                        };



                        
                    </script>
                }


            </div>

        </div>
    </div>
</div>



