@model MippSamplePortal.Models.Workorder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Workorder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceRequestNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceRequestNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedNoOfHoursToComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedNoOfHoursToComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPerformedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPerformedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCompletedAndMaterialsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCompletedAndMaterialsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHoursSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHoursSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyManagerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyManagerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEntered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeEntered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeDeparted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeDeparted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkorderCompiledBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkorderCompiledBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkorderApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkorderApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfLabor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfLabor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxesPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxesPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
