@model MippPortalWebAPI.Models.Workorder

@{
    ViewData["Title"] = "Edit";
    var workorderId = ViewBag.Id;
    var clientId = ViewBag.clientId;
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    var descriptions = ViewBag.Descriptions;
    var status = "";
}

@*<h1>Edit</h1>
*@
<style>
    p {
    margin: 0 0 1em;
}

#overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    display:none;z-index: 1;
}
.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}​
</style>

<div class="card card-default">

<div class="card-header">
<h3 class="card-title">Workorder Details</h3>
<button class="btn btn-secondary" id="commentsSection" style="float:right">Comments</button>

<div id="overlay"></div>
</div>

<div class="card-body">
        <div id='title' align="center" style=" background-color: lightblue;
    height: 20%;
    text-align: center;
    overflow:auto;">
            <h2>replace sink in the unit</h2>
        </div>
            <div class="form-horizontal" style="display: flex;
    width: 36vw;
    justify-content: space-between;">

            <div class="col-sm-6">
              
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-12" style="
    margin-top: 6%;
">
                    <input type="hidden" asp-for="Id" id="Id"/>
                    <input type="hidden" asp-for="ClientId" id="ClientId"/>
                    <input type="hidden" asp-for="VendorId" id="VendorId" />
                    <p>Assigned To:</p>
                    <div class="form-group" style="width: max-content;">
                        <label asp-for="AssignedTo" class="control-label">Name: </label>
                            <input asp-for="AssignedTo" class="form-inline" id="AssignedTo" readonly="readonly" style="border: none; background-color:white; display:inline" />
                        <span asp-validation-for="AssignedTo" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: max-content;">
                        <label asp-for="AssignedToCompany" class="control-label">Company: </label>
                            <input asp-for="AssignedToCompany" id="AssignedToCompany" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                        <span asp-validation-for="AssignedToCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: max-content;">
                        <label asp-for="AssignedToAddress" class="control-label">Location: </label>
                            <input asp-for="AssignedToAddress" id="AssignedToAddress" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                        <span asp-validation-for="AssignedToAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: max-content;">
                        <label asp-for="AssignedToPhone" class="control-label">Phone: </label>
                        <input asp-for="AssignedToPhone" id="AssignedToPhone" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                        <span asp-validation-for="AssignedToPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: max-content;">
                        <label asp-for="AssignedToEmailAddress" class="control-label">Email: </label>
                            <input asp-for="AssignedToEmailAddress" id="AssignedToEmailAddress" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline; width: 16vw;" />
                        <span asp-validation-for="AssignedToEmailAddress" class="text-danger"></span>
                    </div>

                   
                    <div class="form-inline" style="width: max-content;">
                        <label asp-for="Status" class="control-label">Status: &nbsp; </label>
@*                            <input list="@ViewBag.Statuses" class="form-inline">
                            *@                           
                            <select id="statuses" style="width: 82%;
    max-inline-size: max-content;" asp-for="Status" onchange="UpdateStatus(event)"  class="form-control">
                            @foreach (var person in ViewBag.Statuses)
                            {
                                if (ViewBag.Status == person)
                                    {
                                        <option asp-for="Status" id="Status" selected="selected" class="form-control">@person</option>
                                    }
                                else
                                    {
                                        <option asp-for="Status"  id="Status" class="form-control">@person</option>
                                    }

                            }
                            </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    

                    </div>
                    <div class="col-sm-12" style="
        margin-left: 45vw;
    margin-top: -125%;
">
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="OrderNumber" class="control-label">Order Number: </label>
                            <input asp-for="OrderNumber" id="OrderNumber" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="OrderNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="OrderDate" class="control-label"> Order Date: </label>
                            <input asp-for="OrderDate"  id="OrderDate" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="width: max-content;">
                            <label asp-for="ExpectedStartDate" class="control-label">Expected Start Date: </label>
                            <input asp-for="ExpectedStartDate" id="ExpectedStartDate" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="ExpectedStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="ExpectedEndDate" class="control-label">Expected End Date: </label>
                            <input asp-for="ExpectedEndDate" id="ExpectedEndDate" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="ServiceRequestNumber" class="control-label">Service Request Number: </label>
                            <input asp-for="ServiceRequestNumber" id="ServiceRequestNumber" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="ServiceRequestNumber" class="text-danger"></span>
                        </div>

                     </div>
                    
                
            </div>
        </div>

</div>

    <div class="card-body">
        <div id='title' align="center" style=" background-color: lightblue;
    height: 20%;
    text-align: center;
    overflow:auto;">
            <h2>Tenant & Unit Information</h2>
        </div>
            <div class="form-horizontal" style="display: flex;
    width: 36vw;
    justify-content: space-between;">

            <div class="col-sm-6">
               
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-12" style="
    margin-top: 6%;
">
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="TenantName" class="control-label">Tenant Name: </label>
                            <input asp-for="TenantName" id="TenantName" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="TenantName" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="TenantEmailAddress" class="control-label">Email: </label>
                            <input asp-for="TenantEmailAddress" id="TenantEmailAddress" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="TenantEmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="TenantPhoneNumber" class="control-label">Phone: </label>
                            <input asp-for="TenantPhoneNumber" id="TenantPhoneNumber" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="TenantPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="UnitName" class="control-label">Unit: </label>
                            <input asp-for="UnitName" id="UnitName" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="UnitName" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="UnitAddress" class="control-label">Location: </label>
                            <input asp-for="UnitAddress" id="UnitAddress" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="UnitAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="Note" class="control-label">Note: </label>
                            <input asp-for="Note" id="Note" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                       
                    </div>
                    <div class="col-sm-12" style="
         margin-left: 45vw;
    margin-top: -124%;
">
                         <div class="form-group" style="width: max-content;">
                            <label asp-for="PreferredTime" class="control-label">Preferred Time: </label>
                            <input asp-for="PreferredTime" id="PreferredTime" class="form-inline" readonly="readonly" style="border: none; background-color:white; display:inline" />
                            <span asp-validation-for="PreferredTime" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label style="font-weight:inherit">
                                Anytime
                                <input id="EnterCondition" type="checkbox" checked="checked" />
                                <label for="thing" style="cursor: pointer"></label>
                            </label>
                            <br />
                            <label style="font-weight:inherit">
                                By Appointment
                                <input id="EnterCondition" type="checkbox" />
                                <label for="thing" style="cursor: pointer"></label>
                            </label>
                            @*<span><input class="form-inline" type="checkbox" name="Anytime" value="Anytime" />Anytime</span>
                            <span><input class="form-inline" type="checkbox" name="By Appointment" value="By Appointment" />By Appointment</span>
                            *@                        <span asp-validation-for="EnterCondition" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="PermissionNote" class="control-label">Permission Note: </label>
                            <input asp-for="PermissionNote" id="PermissionNote" type="textarea" class="form-control" style="background-color:white; display:inline" />
                            <span asp-validation-for="PermissionNote" class="text-danger"></span>
                        </div>

                    </div>


            </div>
        </div>

    </div>

    <div class="card-body">
        <div id='title' align="center" style="background-color: lightblue;
    height: 20%;
    text-align: center;
    overflow:auto;">
            <h2>Work Description</h2>
        </div>
            <div class="form-horizontal" style="display: flex;
    width: 36vw;
    justify-content: space-between;">

            <div class="col-sm-6" style="    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;">
              
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row d-flex ml-lg-2">
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="Description"  class="control-label">Requested Work Description: </label>
                            <input asp-for="Description" id="Description" class="form-control" style="background-color:white; display:inline; margin-left: 1%; width: 80%;" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="AdditionalComments" class="control-label">Additional Comments: </label>
                            <input asp-for="AdditionalComments" id="AdditionalComments" class="form-control" style="background-color:white; display:inline; margin-left: 1%; width: 91%;" />
                            <span asp-validation-for="AdditionalComments" class="text-danger"></span>
                        </div>
                       
                         
                    </div>
                    <div class="row d-flex ml-lg-2">
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="WorkPerformedBy" class="control-label">Work Perfomed By: </label>
                            <input asp-for="WorkPerformedBy" id="WorkPerformedBy" class="form-control" style="background-color:white; display:inline; margin-left: 1%; width: 80%;" />
                            <span asp-validation-for="WorkPerformedBy" class="text-danger"></span>
                        </div>
                         <div class="form-group" style="width: max-content;">
                            <label asp-for="ExpectedNoOfHoursToComplete" class="control-label">Expected Number Of Hours To Complete: </label>
                            <input asp-for="ExpectedNoOfHoursToComplete" id="ExpectedNoOfHoursToComplete" class="form-control" style="background-color:white; display:inline; margin-left: 1%; width: 67%;" />
                            <span asp-validation-for="ExpectedNoOfHoursToComplete" class="text-danger"></span>
                        </div>

                    </div>
                    
            </div>
        </div>
        <div id="descriptions">
            <form asp-action="PostWorkorderDescriptions" asp-controller="Workorders" >
            @foreach (var description in descriptions)
                    {
                                    <div class="row d-flex ml-lg-2 ml-sm-1" id="description" style="display: flex;">
                      <div class="form-group" style="width: max-content;">
                            <label class="control-label">Work completed & Materials used: </label>
                            <input value="@description.DescriptionOfWorkCompletedMaterialsUsed" class="form-control" style="background-color:white; display:inline;margin-left: 1%; width: 62%;" />
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label class="control-label">Total hours spent: </label>
                            <input class="form-control" value="@description.HoursSpent" style="background-color:white; display:inline; margin-left: 1%; width: 83%;" />
                        </div>
                       <button id="add-row-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Add</button>&nbsp;&nbsp;
                        <button id="remove-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Delete</button>
                    </div>

                    }
                      <div class="row d-flex ml-lg-2 ml-sm-1" id="description" style="display: flex;">
                      <div class="form-group" style="width: max-content;">
                            <label class="control-label">Work completed & Materials used: </label>
                            <input  class="form-control" asp-for="Description" style="background-color:white; display:inline;margin-left: 1%; width: 62%;" />
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label class="control-label">Total hours spent: </label>
                            <input class="form-control" asp-for="TotalHoursSpent" style="background-color:white; display:inline; margin-left: 1%; width: 83%;" />
                        </div>
                       <button id="add-row-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Add</button>&nbsp;&nbsp;
                        <button id="remove-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Delete</button>
                    </div>

                </form>
               
         </div>  
    </div>

        <div class="card-body">
            <div id='title' align="center" style="background-color: lightblue;
    height: 20%;
    text-align: center;
    overflow:auto;">
                <h2>Comments Section</h2>
                <section class="comments">
                @foreach (var comment in ViewBag.Comments)
                            {
                      <article class="comment">
                        <a class="comment-img" href="#non">
                            <img src="https://img.freepik.com/premium-vector/job-exam-test-vector-illustration_138676-243.jpg" alt="" width="50" height="50">
                        </a>
                        <div class="comment-body">
                            <div class="text">
                                <p>@comment.Text</p>
                            </div>
                            <p class="attribution">by <a href="#non">@comment.Email</a> at @DateTime.Now.ToShortDateString()</p>
                        </div>
                    </article>
                               

                            }
                </section>
        </div>
<div class="card-footer">
    <input type="submit" id="btnSave" value="Save" class="btn btn-primary" style="display: inline-block;" />
    </div>
@*Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
the plugin.*@
</div>


</div>




@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
    <script src="~/dist/js/notify.js"></script>
                    <script src="~/dist/js/notify.min.js"></script>
                  
                        
                       
    <script type="text/javascript">
        var id = @ViewBag.Id;
        $("#check").click(function () {
            debugger;
            if (id !== 0){
            $.ajax({
                type: "POST",
                url: "Settings/Index",
                data: {
                    "id": workorderId,
                },

                success: function (result) {
                    
                }
            });


        }
            else {
            alert("Couldn't fetch details, please try again..")
        }


            });

                            $("#add-row-btn").click(function () {
                                var newRow = `<div class="row d-flex ml-lg-2 ml-sm-1" id="description" style="display: flex;">
                      <div class="form-group" style="width: max-content;">
                            <label asp-for="WorkCompletedAndMaterialsUsed" class="control-label">Work completed & Materials used: </label>
                            <input asp-for="WorkCompletedAndMaterialsUsed" class="form-control" style="background-color:white; display:inline;margin-left: 1%; width: 62%;" />
                            <span asp-validation-for="WorkCompletedAndMaterialsUsed" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: max-content;">
                            <label asp-for="TotalHoursSpent" class="control-label">Total hours spent: </label>
                            <input asp-for="TotalHoursSpent" class="form-control" style="background-color:white; display:inline; margin-left: 1%; width: 83%;" />
                            <span asp-validation-for="TotalHoursSpent" class="text-danger"></span>
                        </div>
                       <button id="add-row-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Add</button>&nbsp;&nbsp;
                        <button id="remove-btn" class="btn btn-primary" style="height: fit-content;
    margin-top: 3%;">Delete</button>
                    </div>
`;
                                $("#descriptions").append(newRow);


                            });
                             $("#remove-btn").click(function () {
                                document.getElementById("descriptions").removeChild(document.getElementById("descriptions").children[1]);
                            });



        window.onload = function () {
            var popup = document.getElementById('overlay');
            var overlay = document.getElementsByClassName('detailBox');
            document.onclick = function (e) {
                console.log(e);
                if (e.target.className == 'close') {
                    popup.style.display = 'none';
                    overlay.style.display = 'none';
                }
               
            };
        };
        $('#commentsSection').click(function () {
            $.ajax({
                url: '/Workorders/OverlayPartial',
                type: 'GET',
                data: {
                        "woid": @ViewBag.id
                    },
                success: function (response) {
                    $('#overlay').html(response);
                    $('#overlay').fadeIn();
                },
                error: function (error) {
                    // Handle error response if needed
                }
            });
        });

        function UpdateStatus(event){
            console.log(event.target.value);
            status = event.target.value;

        }

         function showNotification(type, message) {
                            $.notify(message, type);
                        }


         $("#btnSave").click(function () {  
            var workorderArr = []
            var workorder = {};  
            console.log(status);
            workorder.AssignedTo = document.getElementById("AssignedTo").value;  
            workorder.AssignedToCompany = document.getElementById("AssignedToCompany").value;  
            workorder.AssignedToAddress = document.getElementById("AssignedToAddress").value; 
            workorder.AssignedToPhone = document.getElementById("AssignedToPhone").value; 
            workorder.AssignedToEmailAddress = document.getElementById("AssignedToEmailAddress").value; 
            workorder.Status = status;
            workorder.OrderNumber = document.getElementById("OrderNumber").value; 
            workorder.OrderDate = document.getElementById("OrderDate").value;
            workorder.ExpectedStartDate = document.getElementById("ExpectedStartDate").value;
            workorder.ExpectedEndDate = document.getElementById("ExpectedEndDate").value;
            workorder.ServiceRequestNumber = document.getElementById("ServiceRequestNumber").value;
            workorder.TenantName = document.getElementById("TenantName").value;
            workorder.TenantEmailAddress = document.getElementById("TenantEmailAddress").value;
            workorder.TenantPhoneNumber = document.getElementById("TenantPhoneNumber").value;
            workorder.UnitName = document.getElementById("UnitName").value;
            workorder.UnitAddress = document.getElementById("UnitAddress").value;
            workorder.Note = document.getElementById("Note").value;
            workorder.PreferredTime = document.getElementById("PreferredTime").value;
            workorder.EnterCondition = document.getElementById("EnterCondition").value;
            workorder.PermissionNote = document.getElementById("PermissionNote").value;
            workorder.AdditionalComments = document.getElementById("AdditionalComments").value;
            workorder.WorkPerformedBy = document.getElementById("WorkPerformedBy").value;
            workorder.ExpectedNoOfHoursToComplete = document.getElementById("ExpectedNoOfHoursToComplete").value;
            workorder.Id = document.getElementById("Id").value;
            workorder.ClientId = document.getElementById("ClientId").value;
            workorder.VendorId = document.getElementById("VendorId").value;
            workorder.Description =  document.getElementById("Description").value;
            workorderArr.push(workorder);
            console.log("575", workorder);




             $.post('@Url.Action("Edit","Workorders")', { workorder: workorderArr },
                                function () {
                                    showNotification('success', 'Workorder updated!');
             });
        });  
    </script>
     <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.js"></script>


                    <script>
                        // Initialize Dropzone
                        Dropzone.options.myDropzone = {
                            paramName: "files",
                            maxFilesize: 50, // Maximum file size in MB
                            acceptedFiles: ".jpg,.jpeg,.png,.pdf", // Accepted file types
                            addRemoveLinks: true // Display remove links for uploaded files
                        };
                    </script>
}
